<ul class="horizontal-list">
  {% for item in include.collection limit:include.limit %}

    <li class="card">
      <a href="{{ item.url }}">

        {% if item.image %}
          <img src="{{ item.image }}" alt="{{ item.title }}" style="width:100%; border-radius:0.5em; margin-bottom:0.75em;" />
        {% endif %}

        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
